{% extends 'base.html' %}

{% load static %}

{% block title %}
Последние записи
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/feed.css' %}">
    <div class="content">
        {% for post in posts %}
            <div class="post">
                <h3>{{ post.title }}</h3>
                <p>Автор: <a href="/accounts/{{ post.author }}">{{ post.author }}</a></p>
                <p>Дата публикации: {{ post.date }}</p>
                <p>{{ post.text }}</p>
                <p> <a href="like/{{ post.id }}"> <img src="{% static "like.png" %}" width="25px" height="25px"> </a> {{ post.likes }} </p>
                <h3>Комментарии:</h3>
                <hr>

                {% for comment in comments %}
                    {% if comment.post == post %}
                        <p><h4>{{ comment.author.username }}</h4></p>
                        <p>{{ comment.text }}</p>
                        <hr>
                    {% endif %}
                {% endfor %}

                <form action="/add_comment/{{ post.id }}" method="post">
                    {% csrf_token %}
                    <div class="form_comm">
                        {{ form.as_p }}
                        <button type="submit" class="button">Отправить</button>
                    </div>
                </form>

            </div>
        {% endfor %}
    </div>
{% endblock %}